{% extends "layout.html" %}

{% block body %}
<div><a href="about">About</a></div>

<form action="success" method="GET">
    <input name="new_data" type="text">
    <input type="submit" value="request">
</form>

<form action="query_view" method="get">
    <input name="q" type="text">
    <input type="submit" value="search">
</form>
<!-- we ned to present search results here -->
{% for item in results %}
<p>{{ item.url }}</p>
<p>{{ item.description | safe }}</p>
{% endfor %}

{% for query_page in range(1, page_cnt+1) %}
<a href="query_view?q={{ query_term }}&p={{ query_page }}">{{ query_page }}</a>
{% endfor %}

{% endblock %}