{% extends "layout.html" %}

{% block body %}
<div><a href="about">About</a></div>

<form action="success" method="GET">
    <input name="new_data" type="text">
    <input type="submit" value="request">
</form>

<form action="query_view" method="get">
    <input name="q" type="text">
    <input type="submit" value="search">
</form>
<!-- we need to present search results here -->
{% for item in results %}
<p>{{ item.url }}</p>
<p>{{ item.description | safe }}</p>
{% endfor %}

<p>
    {% for query_page in range(1, page_cnt+1) %}
    {% if item == current_page %}
    <b>
        {% endif %}
        <a href="query_view?q={{ query_term }}&p={{ item }}">{{ query_page }}</a>
        {% if item == current_page %}
    </b>
    {% endif %}
    {% endfor %}
</p>

<ul>
    {% for history_item in history_list %}
    <li> {{ history_item[1] }} </li>
    {% endfor %}
</ul>

{% endblock %}